* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  background-color: #022375;
  padding: 5px 0px;
}
.header__figure {
  height: 100%;
}
.header__img {
  height: 100%;
  width: 50px;
}
.header__text {
  margin-left: 5px;
  font-size: 30px;
  -webkit-text-stroke: 0.5px #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
.header__text--red {
  color: #fa150f;
}
.header__text--blue {
  color: #022375;
}

.container-body {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 60px;
  z-index: -1;
}

.section-header {
  position: relative;
  height: 200px;
  background-image: url(../img/image02-t.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
@media (min-width: 500px) {
  .section-header {
    background-size: 100%;
    height: 240px;
  }
}
@media (min-width: 700px) {
  .section-header {
    background-size: 100%;
    height: 400px;
  }
}
@media (min-width: 1000px) {
  .section-header {
    height: 500px;
  }
}
.section-header-textos {
  text-align: center;
}
.section-header-titulo {
  font-size: 30px;
  -webkit-text-stroke: 0.5px #FFFFFF;
  padding-top: 40px;
}
@media (min-width: 700px) {
  .section-header-titulo {
    padding-top: 120px;
  }
}
@media (min-width: 1000px) {
  .section-header-titulo {
    font-size: 40px;
  }
}
.section-header-subtitulo {
  color: #000;
  -webkit-text-stroke: 0.5px #FFFFFF;
}
@media (min-width: 500px) {
  .section-header-subtitulo {
    font-size: 1.5em;
  }
}
@media (min-width: 700px) {
  .section-header-subtitulo {
    font-size: 1.7em;
  }
}
@media (min-width: 1000px) {
  .section-header-subtitulo {
    font-size: 1.9em;
  }
}
.section-acerca-de {
  position: inherit;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1.1px;
}
.section-acerca-de-contenedor {
  padding: 0px 15px;
}
.section-acerca-de-sobre-nosotros {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: #fa150f;
}
.section-acerca-de-slogan {
  text-align: center;
  font-size: 16px;
  color: #022375;
}
@media (min-width: 1000px) {
  .section-acerca-de-slogan {
    font-size: 18px;
  }
}
.section-acerca-de-parrafo {
  text-align: justify;
  color: rgb(24, 16, 16);
  font-size: 15px;
}
.section-acerca-de-parrafo:first-of-type {
  margin-top: 10px;
}
.section-acerca-de-parrafo:last-of-type {
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .section-acerca-de-parrafo {
    width: 450px;
    margin: 0 auto;
    font-size: 16px;
  }
}
@media (min-width: 700px) {
  .section-acerca-de-parrafo {
    width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .section-acerca-de-parrafo {
    font-size: 20px;
  }
}

.sesgoarriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 15vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.sesgoabajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 100px 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.portafolio-contenedor {
  padding: 0px 15px;
}
.portafolio-titulo {
  padding-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  color: #022375;
}
@media (min-width: 1000px) {
  .portafolio-titulo {
    margin-bottom: 35px;
  }
}
.portafolio-galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.portafolio-imagen-port {
  width: 40%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.portafolio-imagen-port:hover .portafolio-hover-galeria {
  transform: scale(1);
}
@media (min-width: 1000px) {
  .portafolio-imagen-port {
    width: 20%;
  }
}
.portafolio-imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.portafolio-hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(223, 97%, 23%, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portafolio-hover-galeria img {
  width: 50px;
}
.portafolio-hover-galeria p {
  color: #fff;
}

.galeria {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.galeria .imagenes {
  width: 16.25%;
  overflow: hidden;
  position: relative;
}
.galeria .imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria .imagenes .encima {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.815);
}
.galeria .imagenes .encima h2 {
  position: relative;
  top: 45%;
  text-align: center;
  color: #fff;
}
.galeria .imagenes .encima div {
  position: relative;
  display: block;
  top: 46%;
  width: 40px;
  height: 5px;
  background: #fff;
  margin: auto;
}
.galeria .imagenes_logo {
  width: 35%;
}

@media (min-width: 500px) {
  .wave {
    margin-top: 90px !important;
  }
}
@media (min-width: 700px) {
  .wave {
    margin-top: 130px !important;
  }
}
@media (min-width: 1000px) {
  .wave {
    margin-top: 215px !important;
  }
}

footer {
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
footer .contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
footer .contenedor-footer .content-foo {
  text-align: center;
  margin-bottom: 2%;
  color: #14740f;
}
footer .contenedor-footer .content-foo h4 {
  padding-bottom: 5px;
  margin-bottom: 10px;
}
footer .contenedor-footer .content-foo .p-email::after {
  content: " info@dancusavi.co";
}
footer .footer__social {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
  column-gap: 20px;
}
footer .footer__social:last-of-type {
  padding-top: 0;
}
footer .footer__social .footer__link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__social .footer__link:first-of-type {
  background: #2f4d84;
}
footer .footer__social .footer__link:nth-of-type(2) {
  background: #C4302B;
}
footer .footer__social .footer__link:last-of-type {
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}
footer .tel {
  text-decoration: none;
  list-style: none;
  color: #022375;
}
@media (min-width: 500px) {
  footer .tel {
    font-size: 17px;
  }
}
footer .titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #14740f;
}

/*# sourceMappingURL=styles.css.map */
