.container-body {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 60px;
    z-index: -1;
}

.section {
    &-header {
        position: relative;
        height: 200px;
        background-image: url(../img/image02-t.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;


        &-textos {
            text-align: center;
        }

        &-titulo {
            font-size: 30px;
            -webkit-text-stroke: .5px $color-white-corporativo;
            padding-top: 40px;
        }

        &-subtitulo {
            color: #000;
            -webkit-text-stroke: .5px $color-white-corporativo;
        }
    }


    &-acerca-de {
        position: inherit;

        &-contenedor {
            padding: 0px 15px;
        }

        &-sobre-nosotros {
            text-align: center;
            margin-top: 20px;
            font-size: 30px;
            color: $color-red-corporativo;
        }

        &-slogan {
            text-align: center;
            font-size: 16px;
            color: $color-blue-corporativo;
        }

        &-parrafo {
            text-align: justify;
            color: rgb(24, 16, 16);
            font-size: 15px;

            &:first-of-type {
                margin-top: 10px;
            }

            &:last-of-type {
                margin-bottom: 20px;
            }
        }
    }
}

.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 15vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 100px 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}



.portafolio {
    &-contenedor {
        padding: 0px 15px;
    }

    &-titulo {
        padding-top: 20px;
        margin-bottom: 15px;
        text-align: center;
        color: $color-blue-corporativo;
    }

    &-galeria-port {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &-imagen-port {
        width: 40%;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

        &:hover .portafolio-hover-galeria {
            transform: scale(1);
        }
    }

    &-imagen-port>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &-hover-galeria {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(0);
        background: $color-blue-corporativo-traslucido;
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 50px;
        }

        p {
            color: #fff;
        }
    }
}


.galeria {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;

    .imagenes {
        width: calc((65% / 4));
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .encima {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(52, 73, 94, 0.815);

            h2 {
                position: relative;
                top: 45%;
                text-align: center;
                color: #fff;
            }

            div {
                position: relative;
                display: block;
                top: 46%;
                width: 40px;
                height: 5px;
                background: #fff;
                margin: auto;
            }
        }
    }

    .imagenes_logo {
        width: 35%;
    }
}