footer {
    margin: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contenedor-footer {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;

        .content-foo {
            text-align: center;
            margin-bottom: 2%;
            color: $verde;

            h4 {
                padding-bottom: 5px;
                margin-bottom: 10px;
            }

            .p-email {
                &::after {
                    content: ' info@dancusavi.co'
                }
            }
        }
    }

    .footer__social {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        flex-wrap: wrap;

        &:last-of-type {
            padding-top: 0;
        }

        .footer__link {
            width: 60px;
            height: 60px;
            // border: 1px solid #000
            border-radius: 50%;
            margin-right: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-of-type {
                background: $facebook;
            }

            &:nth-of-type(2) {
                background: $youtube;
            }

            &:last-of-type {
                background: $instagram;
            }

            .footer__icon {
                margin: 30px;
            }
        }
    }

    .tel {
        text-decoration: none;
        list-style: none;
        color: $color-blue-corporativo;
    }

    .titulo-final {
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
        color: $verde;
    }
}