$color-red-corporativo: #fa150f;
$color-blue-corporativo: #022375;
$color-white-corporativo: #FFFFFF;

$color-blue-corporativo-traslucido: hsla(223, 97%, 23%, 0.7);

$facebook: #2f4d84;
$twitter: #00ACEE;
$youtube: #C4302B;
$instagram: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
$bg-footer: #cecedd;
$verde: #14740f;