<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"">
    <link rel=" stylesheet" href="../css/styles.css">
    <title>Dancusavi</title>
</head>

<body>
    <header class="header">
        <figure class="header__figure">
            <img class="header__img" src="../img/remaster-dcs-svg.svg" alt="logo">
        </figure>
    </header>
    <div class="container-body">
        <section class="section-header">
            <div class="section-header-textos">
                <h1 class="section-header-titulo">
                    <span class="header__text--red">D</span><span class="header__text--blue">an</span><span
                        class="header__text--red">c</span><span class="header__text--blue">u</span><span
                        class="header__text--red">s</span><span class="header__text--blue">av</span><span
                        class="header__text--red">i</span>
                </h1>
                <h3 class="section-header-subtitulo">Bailar es soñar con los pies</h3>
            </div>
            <div class="wave" style="height: 100px; overflow: hidden; margin-top: 50px">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg>
            </div>
        </section>
        <section class="section-acerca-de">
            <div class="section-acerca-de-contenedor">
                <h2 class="section-acerca-de-sobre-nosotros">Sobre nosotros</h2>
                <h3 class="section-acerca-de-slogan">Clases de danza y danzaterapia</h3>
                <p class="section-acerca-de-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem dicta rem hic
                    totam necessitatibus
                    tempora animi error perferendis. Vero corrupti porro quia! Ad saepe alias, officiis voluptatem sed,
                    odio
                    dolores neque dolorem placeat nam quia numquam soluta ipsam nostrum consequuntur, a magnam non.
                    Tenetur
                    repudiandae distinctio inventore voluptate fugit laborum?</p>
                <p class="section-acerca-de-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Exercitationem dicta rem hic
                    totam necessitatibus
                    tempora animi error perferendis. Vero corrupti porro quia! Ad saepe alias, officiis voluptatem sed,
                    odio
                    dolores neque dolorem placeat nam quia numquam soluta ipsam nostrum consequuntur, a magnam non.
                    Tenetur
                    repudiandae distinctio inventore voluptate fugit laborum?</p>
            </div>
        </section>
        <section class="galeria">
            <div class="sesgoarriba"></div>
            <div class="imagenes none">
                <img src="../img/1.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="../img/3.jpg" alt="">
            </div>
            <div class="imagenes imagenes_logo">
                <img src="../img/2.jpg" alt="">
                <div class="encima">
                    <h2>Dancusavi</h2>
                    <div></div>
                </div>
            </div>
            <div class="imagenes">
                <img src="../img/4.jpeg" alt="">

            </div>
            <div class="imagenes none">
                <img src="../img/5.jpeg" alt="">
            </div>
            <div class="sesgoabajo"></div>
        </section>
        <section class="portafolio">
            <div class="portafolio-contenedor">
                <h2 class="portafolio-titulo">Portafolio</h2>
                <div class="portafolio-galeria-port">
                    <div class="portafolio-imagen-port">
                        <img src="../img/img1.jpg" alt="">
                        <div class="portafolio-hover-galeria">
                            <img src="../img/icono1.png" alt="">
                            <p>Danza social</p>
                        </div>
                    </div>
                    <div class="portafolio-imagen-port">
                        <img src="../img/img2.jpg" alt="">
                        <div class="portafolio-hover-galeria">
                            <img src="../img/icono1.png" alt="">
                            <p>Semilleros</p>
                        </div>
                    </div>
                    <div class="portafolio-imagen-port">
                        <img src="../img/img2.jpg" alt="">
                        <div class="portafolio-hover-galeria">
                            <img src="../img/icono1.png" alt="">
                            <p>Semilleros</p>
                        </div>
                    </div>
                    <div class="portafolio-imagen-port">
                        <img src="../img/img1.jpg" alt="">
                        <div class="portafolio-hover-galeria">
                            <img src="../img/icono1.png" alt="">
                            <p>Danza social</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer__social">
                <a href="#" target="_blank" class="footer__link">
                    <img src="../img/bxl-facebook.svg" class="footer__icon" />
                </a>
                <a href="#" target="_blank" class="footer__link">
                    <img src="../img/bxl-youtube.svg" class="footer__icon" />
                </a>
                <a href="#" target="_blank" class="footer__link">
                    <img src="../img/bxl-instagram.svg" class="footer__icon" />
                </a>
            </div>
            <div class="footer__social">
                <a href="tel:+573105880295" class="tel">3105880295</a>
            </div>
        </footer>
    </div>
</body>

</html>